name: Deploy Website

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: deploy-main
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Hostinger Deploy Webhook
        shell: bash
        run: |
          curl --fail --show-error --silent -X POST "https://webhooks.hostinger.com/deploy/ba6df48db9821cbf60f37e7204141502"
